{
  "extends": ["@antfu", "plugin:prettier/recommended", "plugin:react-hooks/recommended"],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "no-console": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
